/* -------------------------------------------------------------- */
/* ------------------------- Indispensables -------------------- */
/* -------------------------------------------------------------- */
@charset"UTF-8";

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* clearfix */
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

:root {
	font-size: 62.5%;
}

body {
	margin: 0;
	width: 100vw;
	font-size: 1.6rem;
	overflow-x: hidden;
	font-family: "Tilde", sans-serif;
}

/* html {
	scroll-behavior: smooth;
} */
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.container {
	height: 100vh;
	width: 100vw;
	padding: 0 40px;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Fonts */
@font-face {
	font-family: "Tilde";
	src: url("/fonts/tilde-regular.woff2") format("woff2"),
		url("/fonts/tilde-regular.woff") format("woff");
}

@font-face {
	font-family: "Tilde-bold";
	src: url("/fonts/tilde-bold.woff2") format("woff2"),
		url("/fonts/tilde-bold.woff") format("woff");
}

@font-face {
	font-family: "Tilde-light";
	src: url("/fonts/tilde-light.woff2") format("woff2"),
		url("/fonts/tilde-light.woff") format("woff");
}

/* -------------------------------------------------------------- */
/* ------------------------- Header -------------------- */
/* -------------------------------------------------------------- */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	width: inherit;
	padding: 0 40px;
	position: fixed;
	background-color: #fff;
	z-index: 3;
}

a.logo_accueil {
	display: block;
}

a.logo_accueil img.logo {
	height: 30px;
	width: auto;
}

/* -------------------------------------------------------------- */
/* ------------------------- Navigation principale -------------------- */
/* -------------------------------------------------------------- */
nav#navbar {
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

nav#navbar div {
	margin-left: 20px;
	position: relative;
}

nav#navbar div span {
	width: 0px;
	height: 2px;
	display: block;
	background: #000;
	position: absolute;
	bottom: 7px;
	left: -5px;
	transition: width 1s;
}

nav#navbar div:hover span {
	width: 85px;
}

/* Réseaux sociaux */
ul.contact-alice {
	position: fixed;
	top: 50%;
	right: 10px;
}

ul.contact-alice li a {
	height: 20px;
	width: 20px;
	display: block;
}

ul.contact-alice li a#in {
	background: transparent url(../img/linkedin-.svg) no-repeat center;
	background-size: 15px;
}

ul.contact-alice li a#mail {
	background: transparent url(../img/at.svg) no-repeat center;
	background-size: 15px;
}

/* -------------------------------------------------------------- */
/* ------------------------- Section about -------------------- */
/* -------------------------------------------------------------- */
section#about {
	display: flex;
	height: 100vh;
	width: 100vw;
}

section#about div.container-text,
section#about div.container-visuel {
	width: 50vw;
	background-color: #F8F8F8;
	/* overflow: hidden; */
}

/* BLOC NOIR QUI TRANSLATE AU PREMIER SCROLL */
section#about div.container-text {
	position: relative;
	overflow: hidden;
}

section#about div.container-text div.test {
	position: absolute;
	height: 100%;
	width: 100%;
	background: black;
	z-index: 1;
	transform: translateX(0);
	transition: 800ms;
}

/* Animation après le premier scroll */
section#about.anim_test div.container-text div.test {
	transform: translateX(-900px);
}

/* Apparition du contenu texte et image */
section#about.anim_test div.container-text div.text,
section#about.anim_test div.container-visuel div.visuel {
	transform: translateY(0);
	transform: translateZ(0);
	transition-delay: 800ms;
}

section#about div.container-text div.test img.logo_center {
	position: absolute;
	z-index: 1;
	height: 200px;
	width: auto;
	top: 50%;
	left: 96%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

section#about div.container-text div.text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 50px;
	height: 100%;
	transform: translateZ(700px);
	transition: 0.5s;
}

section#about div.container-visuel {
	/* overflow: hidden; */
}

section#about div.container-visuel div.visuel {
	background: url(../img/about.png) no-repeat;
	background-size: cover;
	height: 100%;
	transition: 1s;
	transform: translateY(-900px);
}

div.container_cta {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

section#about a.download img {
	height: 20px;
	display: block;
	margin-right: 10px;
}

section#about div.container-text h1 {
	margin-bottom: 0;
}

/* -------------------------------------------------------------- */
/* ------------------------- Section projets -------------------- */
/* -------------------------------------------------------------- */
section#project {
	display: flex;
}

section#project div.description,
section#project div.visuel_projects {
	width: 50vw;
	background-color: #F8F8F8;
}

section#project div.description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 50px;
}

/* les projets */
section#project div.visuel_projects {
	position: relative;
	overflow: hidden;
	height: 100%;
	/* width: 50vw; */
}

/* MODIF TEST */
section#project div.visuel_projects div.container_projet {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transform: rotateZ(-40deg);
}

section#project div.visuel_projects div.container_projet img {
	width: 250px;
	align-self: center;
	padding: 0 10px;
	filter: drop-shadow(-15px -10px 4px rgba(0, 0, 0, 0.1));
}

section#project div.visuel_projects div#target1 img:nth-child(1),
section#project div.visuel_projects div#target2 img:nth-child(1),
section#project div.visuel_projects div#target1 img:nth-child(3),
section#project div.visuel_projects div#target2 img:nth-child(3) {
	/* transition-timing-function: cubic-bezier(.17, .67, .83, .67); */
	transform: translateY(-800px);
	transition: 0.7s;
	transition-timing-function: cubic-bezier(0, .69, 1, .65);
	/* opacity: 0; */
}

section#project div.visuel_projects div#target1 img:nth-child(2),
section#project div.visuel_projects div#target2 img:nth-child(2) {
	transform: translateY(900px);
	transition: 1s;
	transition-timing-function: cubic-bezier(.17, .67, .83, .67);
}

section#project div.visuel_projects div#target1.actif img,
section#project div.visuel_projects div#target2.actif img {
	transform: translateY(0);
	transition: 1s;
	transition-timing-function: cubic-bezier(0, .69, 1, .65);
	/* opacity: 1; */
}

section#project div.description h1 {
	margin-bottom: 0;
}

section#project div.description_projet h2 {
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 0 40px 0;
	font-weight: 100;
}

section#project div.description_projet h3,
section#project div.description_projet p {
	margin: 0;
}

section#project div.description_projet ul li {
	margin: 20px 0;
}

section#project div.description_projet ul li div {
	position: relative;
}

section#project div.description_projet ul li div span.select-project {
	width: 0px;
	height: 2px;
	display: block;
	background: #000;
	position: absolute;
	bottom: 10px;
	left: -5px;
	transition: width 1s;
}

section#project div.description_projet ul li div:hover span.select-project {
	width: 100px;
}

section#project div.description_projet ul li h3 {
	cursor: pointer;
}

section#project div.description_projet ul li a {
	font-style: italic;
}

/* GENERAL */
/* Caractères spé */
/* CTA - télécharger cv */
a.cta_body {
	background: #000;
	color: #fff;
	/* text-shadow: 1px 1px 0px #27F3EE; */
	border: none;
	padding: 5px 50px;
	display: inline-block;
	text-transform: uppercase;
	transition: all 1s ease;
	position: relative;
	font-size: 18px;
}

a.cta_body:hover {
	transition: all 0.7s ease;
	background: transparent;
	color: #000;
}

a.cta_body:hover:after {
	transition: all 0.7s ease;
	width: 100%;
	left: 0;
}

a.cta_body:after {
	position: absolute;
	transition: all 0.7s ease;
	content: '';
	width: 0;
	bottom: 0;
	left: inherit;
	right: 0;
	height: 2px;
	background: #FE2C55;
	box-shadow: 0px 2px 0px #27F3EE;
}

/* trait sous les titres*/
.trait_titre {
	height: 3px;
	position: relative;
}

.trait_titre span {
	width: 50vw;
	height: 2px;
	display: block;
	background: #FE2C55;
	position: absolute;
	transition: width 0.7s;
	z-index: 2;
}

.trait_titre span:nth-child(2) {
	top: 2px;
	background: #27F3EE;
}

/* Bouton pour le scroll vers page projet */
div.arrow-1,
div.arrow-2 {
	text-orientation: mixed;
	cursor: pointer;
}

div.arrow-1 {
	writing-mode: vertical-lr;
}

div.arrow-2 {
	width: 100%;
	writing-mode: vertical-rl;
}

/* FOOTER */
footer {
	height: 40px;
	width: inherit;
	padding: 0 40px;
	position: fixed;
	background-color: #fff;
	z-index: 3;
	bottom: 0;
}

/* VERSION RESPONSIVE */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 576px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {
	section#project {
		flex-direction: column;
	}

	section#project div.description, section#project div.visuel_projects {
		width: 100vw;
	}

	section#project div.visuel_projects div.container_projet img {
		width: 150px;
	}

	section#about div.container-visuel {
		display: none;
	}

	section#about div.container-text {
		width: 100vw;
	}

	section#about div.container-text div.test {
		visibility: hidden;
	}
}